.footer {
    padding: 60px 0 70px;
}

.footer__wrapper {
    display: flex;
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 152px;
}

.footer-navigation__title {
    margin: 0 0 15px;
    
}

.footer-navigation__links {
    padding: 0;
    margin: 0;
    @extend %font-add;
    list-style: none;

    a {
        @include font($size: 2rem, $height: 3rem, $weight: 400);
        text-decoration: none;
        @extend %transition;
        color: $color-text;
        &:hover {
            color: $color-primary;
        }
    }
}