.tools__title {
    margin: auto;
    max-width: 462px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 81px;
}

.tools__wrapper {
    padding-bottom: 90px;
    background-image: url("/img/backgrounds/tools-bg.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
}

.tool_title {
    margin: 0 0 16px;
}

.tool__icon {
    margin-bottom: 30px;
}

.tool_text {
    margin: 0;
}





