.logo {
    display: flex;
}

.logo-object {
    display: inline-flex;
    width: 191px;
    height: 32px;
    background-image: url("/img/Logo.svg");
    @extend %transition;
    @include media-mobile {
        background-image: url("/img/Logo-mobile.svg");
        background-repeat: no-repeat;
    }
}

.logo-object:hover{
    background-image: url("/img/Logo-hovered.svg");
}
